.ActionEditor {
    display: inline-block;
    text-align: left;
    width: 80%;
    border: 1px solid #888888;
    margin-top: 1%;
    margin-bottom: 1%;
    position: relative;
    padding: 2px;
}

label {
    font-size: smaller;
}

.actionInputBig {
    width: 20%;
}

.actionInputSmall {
    max-width: 50px;
    min-width: 20px;
}

.actionTools {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 5px;
}